# Ignore Dune build artifacts
_build/

# Ignore executable and other output files
*.exe
*.bc
*.cmx
*.cmi
*.cmo
*.o

# Ignore editor and IDE-specific files
*.swp
*.swo
*.~*~
.idea/
.vscode/
*.iml

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore dependencies and installed binaries
node_modules/
*.lock
*.opam
